/* General Styles */
body {
    font-family: 'Arial', sans-serif;
    font-size: 1rem;
    text-align: center;
    background-color: #f0f4f8;
    margin: 0;
    color: #333;
}

header {
    background: linear-gradient(to right, #6a11cb, #2575fc);
    color: white;
    padding: 1.5rem 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 2rem;
    margin: 0;
}

main {
    max-width: 900px;
    margin: 2rem auto;
    padding: 0 2rem;
    background: white;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    padding-bottom: 2rem;
}

section {
    margin: 2rem 0;
}

p {
    font-size: 1.1rem;
}

h2 {
    font-size: 1.5rem;
    color: #333;
}

button {
    background-color: #2575fc;
    color: white;
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 25px;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.3s ease;
}

button:hover {
    background-color: #6a11cb;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.home_buttons {
    margin: 0.5rem;
    width: 180px;
}

.buttons-section {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#status-section, #directory-section, #upload-section {
    background: #f9f9f9;
    padding: 1rem;
    border-radius: 8px;
    margin-bottom: 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#progressBar {
    width: 100%;
    height: 20px;
    margin-top: 10px;
    border-radius: 10px;
}

footer {
    background-color: #2575fc;
    color: white;
    padding: 1rem 0;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
    box-shadow: 0 -2px 6px rgba(0, 0, 0, 0.1);
}

/* Log Back In Page Styles */
.login-container {
    max-width: 600px;
    margin: 20% auto;
    padding: 2rem;
    background: white;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

.login-container h1 {
    font-size: 1.75rem;
    color: #2575fc;
}

.login-container h1 a {
    text-decoration: none;
    color: #2575fc;
    transition: color 0.3s ease;
}

.login-container h1 a:hover {
    color: #6a11cb;
}
